<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 해당 부분의 namespace는 project package + Mapper Package + Mapper Interface 
	이름입니다. -->
<mapper namespace="com.ktds.uhddaeyo.mapper.GuestMapper">
	<!-- 해당 부분의 id는 MapperClass의 함수 이름과 유사하여야 합니다. -->
	<select id="getMatchedPlace" resultType="int">
		SELECT DISTINCT(p.place_no) FROM place p, hash_tag h WHERE
		p.capacity
		>= #{capacity} AND p.place_no = h.place_no AND #{price}-4000 <![CDATA[ <= ]]>
		p.place_price <![CDATA[ <= ]]>
		#{price}+5000
		AND REPLACE (p.address,' ','') like REPLACE(CONCAT('%',#{place},'%'),' ','')
		and
		h.tag_contents in (
		<foreach collection="tags" item="tags" separator=",">
			#{tags}
		</foreach>
		)
	</select>

	<insert id="insertGuestReq" useGeneratedKeys="true"
		keyColumn="req_no" keyProperty="reqNo"
		parameterType="com.ktds.uhddaeyo.model.dto.GuestReqDto">
		INSERT INTO customer_req (user_no, tag_msg, mem_cnt,
		price, date ) VALUES (#{userNo}, #{tagMsg}, #{memCnt}, #{price},
		#{date})
	</insert>

	<insert id="insertMatchedReq"
		parameterType="com.ktds.uhddaeyo.model.dto.GuestReqDto">
		INSERT INTO customer_req_match (req_no, place_no)
		VALUES
		<foreach collection="list" item="req" separator=",">
			(#{req.reqNo}, #{req.placeNo})
		</foreach>
	</insert>

	<select id="getReqList" resultType="com.ktds.uhddaeyo.model.dto.GuestReqDto">
		SELECT req_no AS reqNo, user_no AS userNo,
		tag_msg AS tagMsg, date AS date, mem_cnt AS memCnt, price
		FROM customer_req WHERE user_no = #{userNo} order by date
	</select>
</mapper>