<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 해당 부분의 namespace는 project package + Mapper Package + Mapper Interface 
	이름입니다. -->
<mapper namespace="com.ktds.uhddaeyo.mapper.UserMapper">
	<!-- 해당 부분의 id는 MapperClass의 함수 이름과 유사하여야 합니다. -->
	<select id="loginCheck" resultType="String">
		SELECT name FROM user WHERE
		id = #{id} AND pw = #{passwd}
	</select>

	<select id="viewMember"
		resultType="com.ktds.uhddaeyo.model.dto.UserDto">
		SELECT user_no AS no, id, pw AS passwd, name, type FROM user
		WHERE id =
		#{id} AND pw = #{passwd}
	</select>

	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT
		COUNT(*) FROM user WHERE id = #{userId}
	</select>

	<insert id="insertGuest" useGeneratedKeys="true"
		keyColumn="user_no" keyProperty="userNo"
		parameterType="com.ktds.uhddaeyo.model.dto.GuestDto">
		INSERT INTO user (id, pw, name, tel, age, gender, type)
		VALUES
		(#{id}, #{passwd}, #{name}, #{tel}, #{age}, #{gender}, 1)
	</insert>

	<insert id="insertHost" useGeneratedKeys="true"
		keyColumn="user_no" keyProperty="userNo"
		parameterType="com.ktds.uhddaeyo.model.dto.HostDto">
		INSERT INTO user (id, pw, name, tel, age, gender, type)
		VALUES
		(#{id}, #{passwd}, #{name}, #{tel}, #{age}, #{gender}, 2)
	</insert>

	<insert id="insertPlace" useGeneratedKeys="true"
		keyColumn="place_no" keyProperty="placeNo"
		parameterType="com.ktds.uhddaeyo.model.dto.PlaceDto">
		INSERT INTO place (user_no, place_name, place_tel,
		address, capacity, start_time, end_time) VALUES
		(#{userNo},
		#{placeName}, #{placeTel}, #{address}, #{capacity}, #{startTime},
		#{endTime})
	</insert>

	<insert id="insertPicture" parameterType="java.util.List">
		INSERT INTO picture(place_no, photo_name) VALUES
		<foreach collection="list" separator=" , " item="pic">
			(#{pic.placeNo}, #{pic.photoName})
		</foreach>
	</insert>

	<select id="selectHashTags"
		resultType="com.ktds.uhddaeyo.model.dto.HashTagDto">
		SELECT tag_contents AS content, tag_category AS category
		FROM hash_tag_list
	</select>

	<insert id="insertPlaceTags" parameterType="java.util.List">
		INSERT INTO hash_tag (place_no, tag_contents) VALUES
		<foreach collection="list" separator="," item="tag">
			(#{tag.placeNo}, #{tag.content})
		</foreach>
	</insert>
	
	<delete id="deleteUser" parameterType="Integer">
		DELETE FROM user WHERE user_no = #{userNo}
	</delete>
	
	<delete id="deletePlace" parameterType="Integer">
		DELETE FROM place WHERE place_no = #{placeNo}
	</delete>
	
	<delete id="deletePic" parameterType="Integer">
		DELETE FROM picture WHERE place_no = #{placeNo}
	</delete>
	
	<select id="selectHistory" resultType="hashmap">
		SELECT place_no, place_name, address, resv_date FROM VIEW_history__project_db__suggestion__place
		WHERE user_no = #{userNo} and isresv = 'Y'
	</select>
	
	<select id="reviewDatail" resultType="String">
		SELECT place_name FROM place where place_no = #{placeNo}
	</select>
	
	<insert id="insertReview" parameterType="com.ktds.uhddaeyo.model.dto.ReviewDto">
		INSERT INTO comment(place_no,user_no,comment,star)
		VALUES(#{place_no},#{user_no}, #{review}, #{star})
	</insert>
</mapper>