<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 해당 부분의 namespace는 project package + Mapper Package + Mapper Interface 
	이름입니다. -->
<mapper namespace="com.ktds.uhddaeyo.mapper.UserMapper">
	<!-- 해당 부분의 id는 MapperClass의 함수 이름과 유사하여야 합니다. -->
	<select id="loginCheck" resultType="String">
		SELECT name FROM user WHERE
		id = #{id} AND pw = #{passwd}
	</select>

	<select id="getUserPw" resultType="String">
		SELECT pw FROM user
		WHERE
		id=#{id}
	</select>

	<select id="viewMember"
		resultType="com.ktds.uhddaeyo.model.dto.UserDto">
		SELECT user_no AS no, id, pw AS passwd, name, type FROM
		user WHERE id = #{id} AND pw = #{passwd}
	</select>

	<select id="getPlaceNo" resultType="Integer">
		SELECT place_no FROM place p,
		user u
		WHERE p.user_no = u.user_no AND p.user_no = #{userNo}
	</select>

	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT
		COUNT(*) FROM user WHERE id = #{userId}
	</select>

	<insert id="insertGuest" useGeneratedKeys="true"
		keyColumn="user_no" keyProperty="userNo"
		parameterType="com.ktds.uhddaeyo.model.dto.GuestDto">
		INSERT INTO user (id, pw, name, tel, age, gender, type)
		VALUES
		(#{id}, #{passwd}, #{name}, #{tel}, #{age}, #{gender}, 1)
	</insert>

	<insert id="insertHost" useGeneratedKeys="true"
		keyColumn="user_no" keyProperty="userNo"
		parameterType="com.ktds.uhddaeyo.model.dto.HostDto">
		INSERT INTO user (id, pw, name, tel, age, gender, type)
		VALUES
		(#{id}, #{passwd}, #{name}, #{tel}, #{age}, #{gender}, 2)
	</insert>

	<insert id="insertPlace" useGeneratedKeys="true"
		keyColumn="place_no" keyProperty="placeNo"
		parameterType="com.ktds.uhddaeyo.model.dto.PlaceDto">

		INSERT INTO place (user_no, place_name, place_tel, latitude, longitude,
		address, capacity, start_time, end_time, place_price) VALUES
		(#{userNo},
		#{placeName}, #{placeTel}, #{latitude}, #{longitude}, #{address}, #{capacity},
		#{startTime},
		#{endTime}, #{placePrice}, #{placeExp})
	</insert>

	<insert id="insertPicture" parameterType="java.util.List">
		INSERT INTO picture(place_no, photo_name) VALUES
		<foreach collection="list" separator=" , " item="pic">
			(#{pic.placeNo}, #{pic.photoName})
		</foreach>
	</insert>

	<select id="selectHashTags"
		resultType="com.ktds.uhddaeyo.model.dto.HashTagDto">
		SELECT tag_contents AS content, tag_category AS category
		FROM hash_tag_list
	</select>

	<insert id="insertPlaceTags" parameterType="java.util.List">
		INSERT INTO hash_tag (place_no, tag_contents) VALUES
		<foreach collection="list" separator="," item="tag">
			(#{tag.placeNo}, #{tag.content})
		</foreach>
	</insert>

	<delete id="deleteUser" parameterType="Integer">
		DELETE FROM user WHERE
		user_no = #{userNo}
	</delete>

	<delete id="deletePlace" parameterType="Integer">
		DELETE FROM place WHERE
		place_no = #{placeNo}
	</delete>

	<delete id="deletePic" parameterType="Integer">
		DELETE FROM picture WHERE
		place_no = #{placeNo}
	</delete>

	<select id="selectHistory" resultType="hashmap">
		SELECT place_no,
		place_name, address, resv_date FROM
		VIEW_history__project_db__suggestion__place
		WHERE user_no = #{userNo}
		and isresv = 'Y'
	</select>

	<select id="reviewDatail" resultType="String">
		SELECT place_name FROM
		place where place_no = #{placeNo}
	</select>

	<insert id="insertReview"
		parameterType="com.ktds.uhddaeyo.model.dto.ReviewDto">
		INSERT INTO review(place_no,user_no,review,star)
		VALUES(#{place_no},#{user_no}, #{review}, #{star})
	</insert>


	<select id="selectInviteList" resultType="hashmap">
		SELECT DISTINCT name,
		resv_date, message, isresv, place_no, mem_cnt
		FROM suggestion a, user
		b, customer_req c
		WHERE (a.user_no = b.user_no and a.user_no =
		c.user_no ) and date(resv_date) > date(now()) and
		a.place_no=#{placeNo}
	</select>

	<select id="getPlaceByStar"
		resultType="com.ktds.uhddaeyo.model.dto.PlaceDto">
		select p.place_no AS placeNo, place_name AS placeName,
		address,
		p.start_time AS startTime, p.end_time AS endTime, avg(star) AS
		star, p.place_exp AS placeExp
		from place p, review r where
		r.place_no=p.place_no group by
		p.place_no
		order by avg(star) desc limit
		3;
	</select>

	<select id="getPlaceHashList" resultType="hashmap">
		select place_no, tag_contents from hash_tag
		where
		<foreach collection="list" separator=" or " item="place">
			place_no =
			#{place.placeNo}
		</foreach>
		order by place_no;
	</select>

	<select id="getPlacePic" resultType="hashmap">
		select place_no, photo_name from picture
		where
		<foreach collection="list" separator=" or " item="place">
			place_no =
			#{place.placeNo}
		</foreach>
		order by place_no;
	</select>
	<select id="getMainReviewList"
		resultType="com.ktds.uhddaeyo.model.dto.ReviewDto">
		SELECT place_name, review, review_date, star, gender, age
		FROM (SELECT r.place_no, u.gender, u.age, star, r.review, review_date
		FROM user u, review r WHERE u.user_no=r.user_no ORDER BY review_date desc) s, place p WHERE s.place_no = p.place_no ORDER BY review_date DESC limit 6;
	</select>
</mapper>